<div class="row">
  <div class="col-5">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Themes</h1>
        <hr>
        <div class="r-panel-body">
          <ul id="themecolors" class="m-t-20">
            <li><b>Ligth</b></li>
            <li><a #option1 (click)="ChangeThemeColor('default', option1)" data-theme="default" class="selector default-theme">1</a></li>
            <li><a #option2 (click)="ChangeThemeColor('green', option2)" data-theme="green" class="selector green-theme">2</a></li>
            <li><a #option3 (click)="ChangeThemeColor('red', option3)" data-theme="red" class="selector red-theme">3</a></li>
            <li><a #option4 (click)="ChangeThemeColor('blue', option4)" data-theme="blue" class="selector blue-theme">4</a></li>
            <li><a #option5 (click)="ChangeThemeColor('purple', option5)" data-theme="purple" class="selector purple-theme">5</a></li>
            <li><a #option6 (click)="ChangeThemeColor('megna', option6)" data-theme="megna" class="selector megna-theme">6</a></li>

            <li class="d-block m-t-30"><b>Dark</b></li>
            <li><a #option7 (click)="ChangeThemeColor('default-dark', option7)" data-theme="default-dark" class="selector default-dark-theme">7</a></li>
            <li><a #option8 (click)="ChangeThemeColor('green-dark', option8)" data-theme="green-dark" class="selector green-dark-theme">8</a></li>
            <li><a #option9 (click)="ChangeThemeColor('red-dark', option9)" data-theme="red-dark" class="selector red-dark-theme">9</a></li>
            <li><a #option10 (click)="ChangeThemeColor('blue-dark', option10)" data-theme="blue-dark" class="selector blue-dark-theme">10</a></li>
            <li><a #option11 (click)="ChangeThemeColor('purple-dark', option11)" data-theme="purple-dark" class="selector purple-dark-theme">11</a></li>
            <li><a #option12 (click)="ChangeThemeColor('megna-dark', option12)" data-theme="megna-dark" class="selector megna-dark-theme">12</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>