<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Progress bar</h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValueNow]="percent"
            [style.width]="percent + '%'" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-outline-primary" type="button"><i class="mdi mdi-minus" (click)="decrement()"></i></button>
          </span>
          <input type="text" class="form-control" aria-describedby="button-addon4" [(ngModel)]="percent" name="percent">
          <span class="input-group-btn">
            <button class="btn btn-outline-primary" type="button"><i class="mdi mdi-plus" (click)="increment()"></i></button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        test
      </div>
    </div>
  </div>
</div>