<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text" class="form-control" placeholder="Search" #input (keyup)="FindHospital(input.value)">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="text-right">
          <button class="btn waves-effect waves-light btn-rounded btn-primary"><i class="fa fa-plus"></i>Create
            Hospital</button>
        </div>
        <h3 class="card-title">Current Hospitals (<small>{{hospitalService.hospitalCount}}</small>)</h3>

        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>Picture</th>
              <th>Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hospital of hospitals">
              <td><img [src]="hospital.picture | image:'hospital'" click="openModal()" class="img-circle" style="cursor: pointer; width: 50px;"></td>
              <td>{{hospital.name}}</td>
              <td>
                <button (click)="UpdateHospital(hospital)" class="btn btn-primary"><i class="fa fa-save"></i></button>
                |
                <button (click)="DeleteHospital(hospital)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>