<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-donut-graph [doughnutChartData]="graficos.grafico1.data" doughnutChartType="doughnut"
          [doughnutChartLabels]="graficos.grafico1.labels"></app-donut-graph>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-donut-graph [doughnutChartData]="graficos.grafico2.data" doughnutChartType="doughnut"
          [doughnutChartLabels]="graficos.grafico2.labels"></app-donut-graph>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-donut-graph [doughnutChartData]="graficos.grafico3.data" doughnutChartType="doughnut"
          [doughnutChartLabels]="graficos.grafico3.labels"></app-donut-graph>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-donut-graph [doughnutChartData]="graficos.grafico4.data" doughnutChartType="doughnut"
          [doughnutChartLabels]="graficos.grafico4.labels"></app-donut-graph>
      </div>
    </div>
  </div>
</div>